/* info generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: grey;
}
i:hover{
  cursor: pointer;
}
img:hover{
  cursor: pointer;
}
/* caratteristiche sfondo e posizione app */
body{
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #d6dbd8;
}
.verdino{
  position:absolute;
  height: 15vh;
  width: 100vw;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #009688;
}
.app{
  margin-top: 5vh;
  display: flex;
  width: 90vw;
  max-width: 1000px;
  height: 90vh;
  max-height: 700px;
  background-image:url(../img/sfondino.jpg);
}
/* caratteristiche barra sinistra */
.barraSinistra{
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.account{
  padding: 0px 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
}
.immagineUtente{
  height: 30px;
  width: auto;
  border-radius: 50%;
  margin: 5px;
}
i{
  color: grey;
  padding-right: 20px;
}
.desktop{
  display: flex;
  background-color: #9de1fe;
  align-items: center;
}
.campanella i{
  margin: 10px;
  padding: 6px;
  background-color: white;
  color: #9de1fe;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.ricerca{
  display: flex;
  height: 40px;
  align-items: center;
  background: #ededed;
}
.ricerca i{
  padding: 10px;
}
input{
  width: 85%;
  height: 80%;
  border-radius: 18px;
  border-style: solid;
  border: 0px;
  color: black;

}
.chatSinistra{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  overflow:auto;
  border-bottom:1px lightgrey solid;
}
.contatto{
  display: flex;
}
.contatti{
  overflow:auto;
}
/* caratteristiche barra destra */
.barraDestra{
  display: flex;
  flex-direction: column;
  width:60%;
}
.topDestra{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-wrap: nowrap;
  background-color: #ededed;
}
.contattoAttivo{
  display:flex;
}

.chatMsg{
  height: calc(100% - 90px);
  flex-direction: column;
  padding: 35px;
  overflow-y: auto;
  display: none;
}
.chatMsg.active{
  display: flex;
}
.botDestra{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 50px;
  background-color: #ededed;
}
.botDestra i{
  padding: 15px;
}
.msg{
  border-radius: 15px;
  padding: 15px;
  margin: 10px 0;
  width: max-content;
  max-width: 400px;
  display: flex;
  position: relative;
}
.msg:after{
  content: "";
  display: table;
  overflow: hidden;
  clear: both;
}
.recived{
  background-color: white;
}
.sent{
  background-color: #dcf8c6;
  align-self: flex-end;
}
.fa-angle-down,  .panel{
  display: none;
}
.msg:hover .fa-angle-down{
  display: block;
  padding: 0;
}
.panel{
  max-width: 340px;
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  border-radius: 5px;
}
.sent .panel{
  right: -15px;
}
.recived .panel{
  left: -15px;
}
.panel.active{
  display: block;
  bottom: -25px;
  width: 150px;
  height: 32px;
  background-color: white;
  text-align: center;
  padding: 7px 0px;
}
.destroy{
  cursor: pointer;
}
